<p>
Getting leaflets through the door is all very well, but sometimes you want to see how your prospective MPs handle themselves when questioned by the public. This site lists public meetings where you can go and do exactly that. Just enter your postcode and we'll show you events near you.
</p>
<%= render :partial => "search_form" %>
<p>
Alternatively, you can <%= link_to "browse the full list of seats", seats_path%>.
</p>
